card
  background ignorable2
  border-top 2px solid ignorable1
  border-left 2px solid ignorable1
  border-right 2px solid ignorable3
  border-bottom 2px solid ignorable3
  
  width 668px
  height 356px
  transform translate(-50%, -50%)
  position absolute
  top 50%
  left 50%
  
  padding 16px

  display block
  
  .button
      margin 0 auto
  
.welcome-container
  width 100%
  margin-top 100px

.buttons-container
  position absolute
  bottom 16px
  width calc(100% - 32px)
  height 84px
  z-index -1
  
  input
    margin 0 auto
    position absolute
    bottom 0px
  
  .next
    right 0px
      
  .back
    left 0px
    