contract-text
    display block
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    
    overflow-y scroll
    background backgroundx2
    
    height 288px