contract-text
    display block
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    
    overflow-y scroll
    background backgroundx2
    
    height 260px
    

agree-container
    display block
    height 20px
    margin-top 12px
    position relative
    
    p
        display inline
        position absolute
        top 0px  
        margin-left 8px      


agree-button
    display inline-block
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    
    background backgroundx2
    height 16px
    width 16px
    
    p
        margin-left 2px
        margin-top -1px
