list-container
    display block
    width 220px
    height 300px
    float left
    margin-right 16px

    &:last-of-type
        margin-right 0px

list-body
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    background backgroundx2
    
    width 220px
    height 300px
    display block
    overflow-y scroll